* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, #ffb0b0, #ffe6e6);
    font-family: 'Shadows Into Light', cursive;    
}

header {
    font-size: 1.5rem;
}

header, form {
    display: flex;
    min-height: 100px;
    justify-content: center;
    align-items: center;
}

form input, form button {
    border: none;
    background: white;
    padding: 0.5rem;
    font-size: 1.5rem;
}

form button {
    color: #ff9e9e;
    cursor: pointer;
    background: white;
    transition: all 0.5s ease;
}

form button:hover {
    background: #ff9e9e;
    color: white;
}

.todo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    list-style: none;
    min-width: 30%;
}

.todo {
    display: flex;
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease; 
}

.todo-li {
    flex: 1;
    padding: 0rem 0.5rem;
}

.complete-btn, .delete-btn {
    background: #ff9e9e;
    border: none;
    color: white;
    cursor: pointer;
    padding: 1rem;
    font-size: 1rem;
}

.complete-btn {
    background: rgb(107, 255, 107);
}

.fa-trash, .fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select {
    color: #ff9e9e;
    width: 10rem;
    cursor: pointer;
    padding: 0.8rem;
}

.select::after {
    content: "\25BC";
    position: absolute;
    background: #ffb0b0;
    top: 0;
    right: 0;
    padding: 0.8rem;
    pointer-events: none;
    transition: all 0.3s ease;
    color: #ffe6e6;
}

.select:hover::after {
    background: #ffe6e6;
    color: #ffb0b0;
}